head
  title Test

template(name='famousInit')
  +StateModifier id='app' align='[.5, .5]' origin='[.5, .5]' translate='[0,0,100]'
    //+desktopSvg width=400 perspective=200 clip=true template='demo'
    //+smartphoneSvg width=150 perspective=200 clip=true template='demo'
    +tabletSvg width=200 perspective=200 clip=true template='demo'

template(name='demo')
  +Surface class='test'
    | Screen background
  +StateModifier translate='[0,0,1]'
    +StateModifier align='[.5, .5]' origin='[.5, .5]' size='[50, 50]' rotateY='45'
      +DotLoader
        | 
