template(name='desktopSvg')
  svg#desktop-svg(viewbox='0 0 71.215572 43.50619', preserveaspectratio='xMidYMid meet', version='1.1' width='100%' height='100%')
    rect#rect10512.desktop-svg-empty(rx='4.0680571', style='stroke-width: 1.08068538; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none;', width='58.774101', height='39.011684', x='6.2462711', y='0.54034019', ry='4.0915132')
    rect#rect10514.desktop-svg-empty(style='stroke-width: 1.03094029; stroke-opacity: 1;', width='51.557697', height='29.363539', x='9.8544369', y='4.5855823')
    path#path10516.desktop-svg-empty(style='stroke-width: 1.08087742; stroke-linejoin: round; stroke-miterlimit: 60.90000153; stroke-opacity: 1; stroke-dasharray: none;', d='m 0.540433,39.76191 0,0.99979 c 0,1.21633 1.452296,2.20405 3.282768,2.20405 l 63.534998,0 c 1.83047,0 3.31693,-0.98772 3.31693,-2.20405 l 0,-0.99979 -70.134696,0 z')
    path#path10518.desktop-svg-empty(style='fill-opacity: 1; stroke-width: 1.08068538; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none;', d='m 0.562561,39.70315 5.545657,-3.63548 58.733551,0 5.79775,3.51012 z')
    ellipse#path10520.desktop-svg-filled(transform='translate(-50.569154,-96.082021)', d='m 87.076228,98.756325 c 0,0.484647 -0.401893,0.877531 -0.897654,0.877531 -0.495761,0 -0.897655,-0.392884 -0.897655,-0.877531 0,-0.484648 0.401894,-0.877532 0.897655,-0.877532 0.495761,0 0.897654,0.392884 0.897654,0.877532 z', style='fill-opacity: 1; stroke: none;', cx='86.178574', cy='98.756325', rx='0.89765471', ry='0.87753171')
