template(name='smartphoneSvg')
  +View align='[.5,.5]' origin='[.5,.5]'
    +Surface
      .fview-device-smartphone-container
        svg.fview-devices-svg(preserveAspectRatio='none', viewBox='0 0 20.46875 32.25')
          rect.fview-devices-desktop-svg-empty(rx='3.2489591', style='fill-opacity: 1; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none;', width='19.385006', height='31.190004', x='0.54056484', y='0.51943082', ry='3.2489591')
          rect.fview-devices-desktop-svg-empty(style='fill-opacity: 1; stroke-miterlimit: 4; stroke-opacity: 1; stroke-dasharray: none;', width='14.75211', height='23.529547', x='2.856971', y='3.6170185', ry='0')
          rect.fview-devices-desktop-svg-filled(style='fill-opacity: 1; stroke: none;', width='3.657548', height='1.1696253', x='8.4043036', y='28.756178')
    +StateModifier origin='[0, 0]'
      +ContainerSurface
        +Template.dynamic template=template
